<div>
  <label for="">Firstname</label>
  {{input value=firstname}}
</div>
<div>
  <label for="">Lastname</label>
  {{input value=lastname}}
</div>
<div>
  <label for="">City</label>
  {{input value=city}}
</div>
<div>
  <label for="">State</label>
  {{input value=state}}
</div>
<div>
  <label for="">Email</label>
  {{input value=email}}
</div>

<button type="submit" {{action save}}>Save</button>
<button type="submit" {{action cancel}}>Cancel</button>
