<h3>{{id}}</h3>

<p>{{link-to 'Edit' 'people.edit' this}} <button {{action destroyRecord}}>Destroy</button></p>

<ul>
  <li>Firstname: {{firstname}}</li>
  <li>Lastname: {{lastname}}</li>
  <li>City: {{city}}</li>
  <li>State: {{state}}</li>
  <li>Email: {{email}}</li>
</ul>
